<!doctype html>
<html lang="zh">
  <body>
    <%-include("../ejs/nav.ejs")%>
    <div class="container">
        <div style="text-align:center;">
            <h1>
            </h1>
        </div>
            <div class="markdown-body">
                <%- content %>
            </div>
        <hr class="wavy">

    </div> <!-- end container -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        //copy to clipboard
        document.querySelectorAll('.zeroclipboard-container').forEach( function(clipContainer){
            clipContainer.addEventListener('click', function(event) {
                if( clipContainer.classList.contains('copied')) return;

                let text = clipContainer.parentNode.textContent
                clipContainer.classList.add('copied');
                navigator.clipboard.writeText(text).then( ()=>{
                        setTimeout( ()=> clipContainer.classList.remove('copied'),1500)
                    },
                    ()=> { //failed
                        setTimeout( ()=> clipContainer.classList.remove('copied'),1500)
                        alert("copy failed!");
                    }
                )
            })
        })
    </script>
  </body>
</html>
