//完善 markdown中的样式


//去除 `abc` 行内code两边的`
.prose :where(pre, code):not(:where(.not-prose, .not-prose *)) {
    &::after,&::before {
        content: none;
    }
}

// >>> fence code_block,空行不显示的问题
$code-line-height : 20px;
@mixin codeLineHeight () {
        line-height: $code-line-height;
        height: $code-line-height;
}

html.dark code[v-pre] {
    > span::before {
        color: #999999d6;
    }
}

code[v-pre] {
    counter-reset: list-counter;
    > span {
        @include codeLineHeight();
        &::before {
            counter-increment: list-counter;
            content: counter(list-counter);
            border-right: 1px solid;
            color: #2c2c2c6f;
            display: inline-block;
            text-align: right;
            width: 30px;
            padding: 0 5px;
            user-select: none;
            margin-right: 10px;
        }
    }

    //最后一行空行不显示
    span.line:last-child:has(span:first-child:empty){
        display: none;
        &::before {
            display: none;
        }
    }

    span.line:last-child:empty {
        display: none;
    }

    //没有向前的兄弟选择器
    //删除倒数第二行的空行
    span.line:nth-last-child(2):empty:has( + span.line:last-child:empty ) {
        display: none;
    }
}

//Katex 行内公式增加左右空格
p  {
    &>eq {
        margin: 0 0.2em;
    }
    // &>eq:first-child {
    //     margin-left: 0;
    // }
    // &>eq:last-child{
    //     margin-right: 0;
    // }
}

// Katex 渲染的block 公式
section:has( > eqn) {
    margin: 3.5rem 0;
}

//标题 居中
.prose > h1:first-child {
    text-align: center;
    border-bottom: 1px solid #80808030;
    padding: 1rem 0;
}

html.dark .markdown-body > h1:first-child {
    //TODO 这个颜色不对,应该有透
    border-color: rgba($color: #dbd7ca, $alpha: 0.15);
}

// line-number
// .code-with-linenumber {
//     display: flex;
//     .line-numbers {
//         display: flex;
//         flex-direction: column;
//         > span {
//             @include codeLineHeight();
//         }
//         margin: 16px 0;
//     }
// }

//高亮的行会出格,改成不出格
.markdown-body .shiki .highlighted {
    margin: 0;
    padding: 0;
}

//fenc,代码区域,添加上下padding
.markdown-body pre.shiki {
  code[v-pre] {
    padding: 1em 0;
  }
}

.markdown-body iframe {
    width:  100%;
}

// figure
.markdown-body {
  figure {
    margin:2rem 0;
    // display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      // flex-grow: 0;
      margin: 0 auto;
      border: 1px solid rgba($color: #dbd7ca, $alpha: 0.45);
      border-radius: 0.4em;
      padding: 1rem;
    }
    figcaption {
      font-family: var(--code-font), var(--ui-font), monospace;
      text-align: center;
    }
  }
}
html.dark {
  .markdown-body {
    figure {
      img {
        border: 1px solid rgba($color: #333, $alpha: 0.75);
        background-color: #ccc;
      }
    }
  }

}
