<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ROJ- Rainboy Online Judge</title>
        <link rel="stylesheet" href="./style.scss">
        <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
        <link rel="manifest" href="/fav/site.webmanifest">
    </head>
    <body>
        <%- include("./ejs/git-corner.ejs") %>
    <div class="bg-dark">
        <%- include("./ejs/nav.ejs") %>
    </div>
        <div class="container">
            <div id="app"></div>
        <div>
        <%- include("./ejs/footer.ejs")%>
        <script type="module" src="./main.js"></script>
    </body>
</html>
